In [1]:
import json
import urllib.request
import urllib.parse
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [6]:
urdata = pd.read_csv('page1~10 urdata.csv', encoding = 'utf-8')
urdata

    Unnamed: 0       urname    rkpo
0            0        빵문검귀이  49,897
1            1            쿰  49,627
2            2           し㏄  49,551
3            3          새지타  49,549
4            4        닉넴이읍어  49,543
..         ...          ...     ...
75          75           우유  49,285
76          76        날먹버프쳐  49,283
77          77  PerfectMind  49,279
78          78         만크버섴  49,279
79          79        칼바람블레  49,279

[80 rows x 3 columns]

In [14]:
# CSV 파일로드 
chid = pd.DataFrame(columns=['urname','characterId'])

urname = '빵문검귀이'
# 닉네임 URL 변환
urname_url = urllib.parse.quote(urname)
    
# 아이디 검색 API
requestData = requests.get(f'https://api.neople.co.kr/df/servers/cain/characters?characterName={urname_url}&apikey=M23RMaIB2JlKPyRWYRBKDb6UtE3NDTrS')
if requestData.status_code == 200 :
    jsonData = requestData.json()
    api_result = pd.DataFrame(jsonData['rows'])
    # 닉네임 이상한거 Null값 처리
    if api_result.empty :
        characterId_filter = pd.DataFrame({'urname' : [urname], 'characterId' : None})
    else :
        characterId_filter = pd.DataFrame({'urname' : api_result.characterName, 'characterId' : api_result.characterId})
else :
    characterId_filter = pd.DataFrame({'urname' : [urname], 'characterId' : None})
chid = pd.concat([chid, characterId_filter])

In [17]:
urdata1 = urdata.set_index('urname')
chid1 = chid.set_index('urname')
df = pd.merge(urdata1, chid1, on='urname')
df = df.drop('Unnamed: 0', axis = 1)

In [43]:
Infomation = pd.DataFrame(columns = ['adventureName'])
characterId = df.iloc[0, 1]
requestData = requests.get(f'https://api.neople.co.kr/df/servers/cain/characters/{characterId}/status?apikey=M23RMaIB2JlKPyRWYRBKDb6UtE3NDTrS')
jsonData = requestData.json()
api_result = pd.json_normalize(jsonData)
df_adname = pd.DataFrame({'urname' : [urname], 'adventureName' : api_result.adventureName})

df_adname

  urname adventureName
0  빵문검귀이          도유TV