In [3]:
import json
import urllib.request
import urllib.parse
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [17]:
#한글 URL 변환
svname = 'prey'
urname = '사레네'
urname_url = urllib.parse.quote(urname)
urname_url

'%EC%82%AC%EB%A0%88%EB%84%A4'

In [34]:
#아이디 검색 API(URL 변환 필요)
requestData = requests.get(f'https://api.neople.co.kr/df/servers/{svname}/characters?characterName={urname_url}&apikey=M23RMaIB2JlKPyRWYRBKDb6UtE3NDTrS')

if requestData.status_code == 200 :
    print(requestData.status_code, 'Request OK')
    jsonData = requestData.json()
else :
    print(requestData.status_code, 'Request Bad')
    print(requestData.json())
api_result = pd.DataFrame(jsonData['rows'])

200 Request OK

In [30]:
df

,serverId,characterId,characterName,level,jobId,jobGrowId,jobName,jobGrowName
0,prey,d0b844d79ea6e490f6a26b1f62070a24,사레네,110,3909d0b188e9c95311399f776e331da5,c9b492038ee3ca8d27d7004cf58d59f3,마법사(여),眞 마도학자

In [41]:
chid = pd.DataFrame(columns=['characterId'])
characterId_filter = pd.DataFrame({'characterId' : api_result.characterId})

chid = pd.concat([chid, characterId_filter])

In [42]:
chid

                        characterId
0  d0b844d79ea6e490f6a26b1f62070a24