In [30]:
import json
import urllib.request
import urllib.parse
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [18]:
urdata = pd.read_csv('page1~3 urdata.csv')
chid = pd.DataFrame(columns=['characterId'])

# 열이 생성되서 해당 열 삭제
urdata = urdata.drop(urdata.columns[0], axis=1)

for i in range(0 , len(urdata)) :
    svname = urdata.iloc[i, 0]
    urname = urdata.iloc[i, 1]
    urname_url = urllib.parse.quote(urname)

    #아이디 검색 API(URL 변환 필요)
    requestData = requests.get(f'https://api.neople.co.kr/df/servers/{svname}/characters?characterName={urname_url}&apikey=M23RMaIB2JlKPyRWYRBKDb6UtE3NDTrS')
    if requestData.status_code == 200 :
        jsonData = requestData.json()
    else :
        print(requestData.status_code, 'Request Bad')
        print(requestData.json())
        break
    
    jsonData = requestData.json()
    api_result = pd.DataFrame(jsonData['rows'])
    characterId_filter = pd.DataFrame({'characterId' : api_result.characterId})
    chid = pd.concat([chid, characterId_filter])

In [31]:
chid1 = chid.set_index('characterId')
chid1

Empty DataFrame
Columns: []
Index: [bf6b24c203111c6ede8c2faf4be2b9d6, 3607ff20a78bf0cfceb230174ce44cf4, 9de4332b4ecccde83f68e473626340e9, 7979bcc2a3455f213036808a876da546, 603f935c21c8fa5a09d0addbddd1f745, c9eafeaac93d0b0454207a8953344e49, b8cfd13e40b429b73359ad496a0de671, 31008143569c724b9bbc0c34a2c70e1c, 77dae44a87261743386852bb3979c03a, f312ddd477c7759f5041250bd8e0d35a, ec892da54f597450978ac5f6c4555744, 8c2b3d28a289131a2cf0ba3065a1dc39, d9191d34de0d133fbf16938e53065fc4, 7e5504c0ceb574b29250aad5486ac7e8, cc1621d07bb24c7d25f9a18aff8e02f6, b736d335e6c02bb0aea1a339c7c3fd6a, a5bdb287cb8b58d9fe885e8f66069835, 91051fdfe2371f6a60afee9bec8c26bd, 0df1668baeaa914aa0d9f90d31605bf7, fb0fe14684b00eb10a9259c74e96ddbc, d45b408eb190913ee1aad6432e0fa60a, 09f47aa892a3875febfc062fc1a012d4, 9aae034cfa7c3d0fc9875331a4bc2b29, 0daa8c49cae531262f966dd637008e30]

In [32]:
chid1.values()

TypeError: 'numpy.ndarray' object is not callable